
//IMPORT bootstrap --------------
@import "src/assets/libs/bower_components/bootstrap/less/bootstrap.less";
// ------------------------------
@import "src/assets/libs/bower_components/bootstrap-social/bootstrap-social.less";

// CSS import with inline -------
@import  (inline) "src/assets/libs/bower_components/angular-loading-bar/src/loading-bar.css";
@import  (inline) "src/assets/libs/bower_components/angular-ui-notification/dist/angular-ui-notification.min.css";

// Theme for bootstrap ----------
@import "variables.less";
@import "bootswatch.less";

// LESS FILES ---------
@import "loading-bar.less";


.welcome{
  padding-top: 200px;
  padding-bottom: 50px;
  margin-top: 0px;
  transition: all 1s ease;
}

.ontop{
  margin-top: -280px;
  padding-bottom: 20px;

}

.result{
  margin-top: 50px;
}

#network {
  margin: auto;
  width: 600px;
  height: 400px;
  border: 1px solid #1854d3;
}
