
//IMPORT bootstrap --------------
@import "src/assets/libs/bower_components/bootstrap/less/bootstrap.less";
// ------------------------------
@import "src/assets/libs/bower_components/bootstrap-social/bootstrap-social.less";

// CSS import with inline -------
@import  (inline) "src/assets/libs/bower_components/angular-loading-bar/src/loading-bar.css";
@import  (inline) "src/assets/libs/bower_components/angular-ui-notification/dist/angular-ui-notification.min.css";

// Theme for bootstrap ----------
@import "variables.less";
@import "bootswatch.less";

// LESS FILES ---------
@import "loading-bar.less";


#preloader {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#preloader circle.outer {
  fill: transparent;
  stroke: #ec0500;
  stroke-dashoffset: 1000;
  stroke-width: 20;
  stroke-dasharray: 1000;
  transform-origin: 50% 50%;
  animation: spin 2s linear forwards infinite;
}

@keyframes spin {
  0% {
    stroke-dashoffset: 1000;
    transform: rotate(-90deg);
    stroke-width: 20;
  }
  25% {
    stroke-dashoffset: 800;
    stroke-width: 30;
  }
  80% {
    stroke-dashoffset: 1000;
    transform: rotate(270deg);
    stroke-width: 20;
  }
}

#preloader circle.drop {
  fill: #ec0500;
  stroke: transparent;
  transform-origin: 50% 50%;
  animation: drop 2s linear forwards infinite;
}

@keyframes drop {
  0% {
    transform: translate(0, -150px);
    opacity: 1;
  }
  34% {
    transform: translate(0, 150px);
    opacity: 1;
  }
  70% {
    transform: translate(0, 0);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

html{
  overflow-x: hidden;
  width: 100%;
}

.welcome{
  padding-top: 200px;
  padding-bottom: 50px;
  margin-top: 0px;
  transition: all 1s ease;
}

.ontop{
  margin-top: -280px;
  padding-bottom: 20px;

}

.result{
  margin-top: 50px;
}

.searchResult{
  padding: 20px;
  margin-bottom: 10px;
}