<div>
    <section class="bg-primary" id="about" style="padding-top: 200px; padding-bottom: 50px">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">GFAIM !</h2>
                    <hr class="light">
                    <p class="text-faded"></p>

                    <form ng-submit="search()">
                        <div class="input-group">
                            <input placeholder="ex: Apple" type="text" id="search"
                                   class="form-control">
                    <span class="input-group-btn">
                         <button class="btn btn-default" type="submit" ng-click="search()">Rechercher</button>
                    </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>