<div>
    <section class="bg-primary welcome" id="about" ng-class="{'ontop': isSearching}">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="">GFAIM !</h2>
                    <hr style="visibility: hidden" class="light">
                    <p class="text-faded"></p>

                    <form>
                        <div class="input-group">
                            <input autofocus="autofocus" ng-model='query' placeholder="ex: Tomato Soup" type="text" id="search"
                                   class="form-control">
                            <span class="input-group-btn">
                         <button ng-click="search()" class="btn btn-default" >Search</button>
                    </span>

                        </div>
                    </form>
                    <p style="margin-top:15px">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#optionsPanel" aria-expanded="false" aria-controls="optionsPanel">
                        Recherche avancée
                    </button>
                        <a href="#" ng-click="cancelRequest()" ng-show="isSearching" class="btn btn-primary" type="button" >
                            Cancel Search
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>


    <div class="collapse" id="optionsPanel">
        <div class="well">
            <h3>Options</h3>
            <div class="row">
                <div class="col-md-2">
                    <p>
                        Similarity Threshold : ({{sliders.similarity.sliderValue}})
                    </p>
                </div>
                <div class="col-md-2">
                        <slider ng-model="sliders.similarity.sliderValue"
                                min="sliders.similarity.min"
                                step="sliders.similarity.step"
                                max="sliders.similarity.max"
                                value="sliders.similarity.value">
                        </slider>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p>
                        Confidence Value : ({{sliders.confidence.sliderValue}})
                    </p>
                </div>
                <div class="col-md-2">
                    <slider ng-model="sliders.confidence.sliderValue"
                            min="sliders.confidence.min"
                            step="sliders.confidence.step"
                            max="sliders.confidence.max"
                            value="sliders.confidence.value">
                    </slider>
                </div>
            </div>
        </div>
    </div>

    <section ng-show="searchFailed">
        <div class="container">
            <h1 style="text-align: center">There is an Error. Sorry.</h1>
            <img src="http://i.huffpost.com/gen/923992/images/o-SAD-PLATE-FOOD-facebook.jpg" class="img-responsive">
        </div>
    </section>

    <section style="text-align: center" ng-show="searchingInProcess">
        <h1 >{{loadingText}}</h1>
        <p>{{loadingSubText}}</p>
        <svg height="400" width="400" id="preloader">
            <g filter="url(#goo)">
                <circle class="outer" cx="200" cy="200" r="150" />
                <circle class="drop" cx="200" cy="200" r="15">
            </g>

            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                </filter>
            </defs>
        </svg>
    </section>

    <section ng-showd="searchingDone" id="result" class="result">
        <!-- Button trigger modal -->
        <div class="row" style="margin-bottom: 30px; text-align: center; ">
            <div class="col-md-4 col-md-offset-4">
                <button ng-click="redraw()" type="button" class="btn btn-primary text-center"
                        data-toggle="modal" data-target="#myModal">
                    Voir le graphe
                </button>
            </div>

        </div>

        <div ng-show="searchingDone" ng-repeat="element in results">
                <search-result title={{element.mainConcept.name}}
                               img={{element.mainConcept.image}}
                               caption={{element.mainConcept.imageCaption}}
                               wiki={{element.mainConcept.wikipediaUrl}}
                               main-description={{element.mainConcept.description}} >
                    <div ng-repeat="link in element.externLinks">
                        <h4><a target="_blank" href={{link.url}}>{{link.title}}</a></h4>
                        <p>{{link.description}}</p>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="container" ng-repeat="link in element.externLinks">
                            <button type="button" class="btn btn-info btn-xs btn-disabled">
                                {{link.title}}</button>
                        </div>
                    </div>
                </search-result>
            </div>
    </section>



    <!-- Modal -->
    <div style="display: none" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" style="width: 1024px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Graph</h4>
                </div>
                <div class="modal-body" >
                    <div id="network" ng-show="isSearching" class="container" style="height: 600px;width: 1000px">
                        <vis-network network="network" on-select="onNodeSelect" id="container-network">
                        </vis-network>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>