<div class="container searchResult well">
    <div class="row">
        <div class="col-md-4 well well-img">
            <div class="row">
                <h2 style="margin-bottom: 25px; margin-top: 5px;"
                    class="text-center">{{title}}</h2>
                <div class="box">
                    <img id="image-1" ng-src={{img}}/>
                    <span class="caption">
                    <p>{{caption}}</p>
                    </span>
                </div>
            </div>
            <br>
            <div class="row">
                <p style="text-align:center">
                    <a href="{{wiki}}" >{{wiki}}</a>
                </p>
                <p>
                    {{mainDescription | limitTo:200}}...
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <div ng-transclude></div>
        </div>
    </div>
</div>