<div class="container searchResult well">
    <div class="row">
        <div class="col-md-4">
            <div class="well well-img">
                <div class="row">
                    <h2 style="margin-bottom: 25px; margin-top: 5px;"
                        class="text-center">{{title}}</h2>
                    <div class="box">
                        <img id="image-1" actual-src={{img}}
                             ng-src="http://a4.mzstatic.com/us/r30/Purple3/v4/1f/57/ef/1f57ef5a-23ad-f54d-f93a-63b813ea94ca/icon256.png"/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <p style="text-align:center">
                        {{caption}}
                    </p>
                    <p style="text-align:center">
                        <a ng-href="{{wiki}}"  target="_blank">Voir sur wikipedia</a>
                    </p>
                    <p style="text-align: justify">
                        {{mainDescription | limitTo:350}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div ng-transclude></div>
        </div>
    </div>
</div>